* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Ogg";
  src: url("assets/Ogg-Regular.woff2") format("woff2");
}

body {
  font-family: "Inter", sans-serif;
  /* background-image: url("assets/noise.gif"); */
  cursor: none;
  scroll-snap-type: y proximity;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

section {
  scroll-snap-type: y mandatory;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: "Ogg";
  font-weight: lighter;
}

a {
  text-decoration: none;
  font-size: 1.1vw;
  color: black;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid black;
}

#hero h1 {
  font-size: 10vw;
  color: rgb(255, 255, 255);
  position: relative;

  /* mix-blend-mode: difference; */
}

/* Loader Section */

.black {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 2;
}

.yellow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./assets/noise.gif");
  z-index: 2;
}

.yellow::after {
  content: "";
  background-color: rgb(255, 218, 31);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

/* Header Section */

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed !important;
  width: 100vw;
  padding: 4vw 4vw;
  z-index: 3;
}

.footer {
  bottom: 0%;
}

/* Hero Section  */

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1.2rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-content .h1 {
  /* max-width: 100; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.hero-content p {
  z-index: 22;
  position: relative;
  text-align: center;
  font-size: 1.4vw;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.magic-text {
  opacity: 0;
}

.loader video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.heading h1 {
  position: relative;
  z-index: 99;
  color: white;
  /* mix-blend-mode: overlay; */
}

.heading img {
  position: absolute;
  width: 30vw;
  object-fit: cover;
  /* mix-blend-mode: darken; */
  z-index: -1;
  /* transform: scale(0); */
  opacity: 0;
  transition: all 0.3s linear;
}

/* About Section  */

.about {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-links {
  position: relative;
  margin-bottom: -30px;
}

.about-links h2 {
  font-size: 7vw;
  user-select: none;
  position: relative;
  z-index: 5;
}

.about-infinite-scroll {
  white-space: nowrap;
  background-color: yellow;
  padding: 0.2vw 0;
  transform: translate(-30%, -50%) scaleY(0);
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 0;
}

.about-infinite-box {
  display: inline-block;
  animation: 8s slide infinite linear;
}

.about-inifinite-text {
  white-space: nowrap;
  margin-right: 40px;
  font-size: 1.3vw;
}

.about-links-title {
  transition: all 0.5s ease;
  color: black;
  z-index: 9;
}

.about-links:hover .about-infinite-scroll {
  transform: translate(-30%, -50%) scaleY(1);
}

.about-links:hover .about-links-title {
  color: rgb(255, 255, 255);
  /* scale: 1.1; */
  background-color: rgba(15, 15, 15, 0.552);
  text-shadow: yellow 1px 1px 1px;
  border-radius: 10px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Process Section  */

.process {
  padding: 0 10vw;
}

#fimages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin-top: 5vw;
}

#fleft {
  overflow: hidden;
  width: 45%;
  height: inherit;
}

.fleftelm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: inherit;
  align-items: flex-start;
}

.fleftelm h1 {
  font-size: 4.5vw;
  line-height: 1;
  font-weight: 400;
  text-transform: capitalize;
  margin: 1.5vw 0;
}

.fleftelm h3 {
  font-size: 1.2vw;
  letter-spacing: 10px;
  opacity: 0.4;
  font-weight: 400;
}

.fleftelm p {
  opacity: 0.7;
  margin-top: 2vw;
  font-size: 1.3vw;
}

#fright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  height: inherit;
}

#fright .images {
  width: 90%;
  height: 90%;
}

#fright .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dreams {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 8vw;
  padding: 0 10vw;
  background-color: #eecc2a;
}

.dreams h2 {
  font-size: 6vw;
}

.btn {
  color: black;
  margin-top: 2vw;
  font-size: 1.2vw;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  color: black;
  margin-top: 1vw;
  font-size: 1.2vw;
}

.footer svg {
  width: 2vw;
}

.arrow {
  width: 80px;
  animation: upDown 1s ease infinite alternate;
}

@keyframes upDown {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(20px);
  }
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5vw 10vw;
  background-color: #000000;
  color: white;
}

.contact-container {
  display: flex;
}

.contact-container > * {
  flex-basis: 100%;
}

.right h3 {
  font-size: 1.5vw;
  margin-bottom: 1.6vw;
}

address {
  font-size: 1.1vw;
  letter-spacing: 1.2px;
  font-weight: 100;
  margin-bottom: 1vw;
}

.contact h2 {
  font-size: 9vw;
  color: white;
  line-height: 1;
}

.contact .right p {
  margin-top: 3vw;
}

.left p {
  margin-top: 6vw;
  margin-left: 1vw;
  font-style: italic;
}

/* About page */

#about h1 {
  font-size: 7vw;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 70vw;
  margin: 0 auto;
  padding-top: 9vw;
  gap: 2vw;
}

#about p {
  font-size: 1.2vw;
  line-height: 1.4;
}

#projects h1 {
  text-align: center;
  font-size: 8vw;
  padding: 3vw 0;
}

.project-work ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 100%;
  width: 70rem;
  margin: auto;
}

.project-work ul li img {
  border: 3px solid black;
}

figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  transform-origin: center;
  opacity: 0;
  transform: scale(2);
  transition: opacity 300ms;
}

figure img {
  height: 400px !important;
  object-fit: cover;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) figure::after {
  opacity: 1;
}

a:is(:hover, :focus) figcaption {
  opacity: 1;
  transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
  figcaption {
    transform: translate3d(0, 2rem, 0);
  }

  figure::after {
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition: transform 900ms;
  }

  a:is(:hover, :focus) figure::after {
    transform: scale(2.5);
  }

  a:is(:hover, :focus) figcaption {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 600ms 400ms, transform 600ms 400ms;
  }

  a:is(:hover, :focus) img {
    transform: scale(1.2);
  }
}

.project-work {
  padding-bottom: 5vw;
}
